/*
* linked.css
*
* Jochem Bruins - 10578811
*
* adds style to linked.html
*/


html, body {
    height: 100%;
    font-family: "Helvetica Neue";
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

path {
	stroke-width: 3;
	fill: none;
}

.linegraph {
	background-color: rgb(245, 245, 245);
}

.lineUnemp {
	stroke: #91bfdb;
}

.lineAlcohol {
	stroke: #ffffbf;
}

.lineTobacco {
	stroke: #fc8d59;
}

.tooltipline {
	stroke: rgb(210, 210, 210);
	stroke-width: 2.5px;
}

#tooltip {
	background-color: white;
	border: 1px solid black;
	padding:5px;
	font-family: "Helvetica Neue";
	font-size:12px;
	box-shadow: 1px 1px 5px #CCC;
}

.axis line,
.axis path {
  stroke: rgba(210, 210, 210, 0.6);
  stroke-width: 0.8;
}

.axis text {
	fill: rgb(106, 156, 192);
	font-size: 11px;
}



